@import "../../styles/colors";

section {
  padding-bottom: 1.5rem;
  .widget-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1.2rem;
    border-radius: 20px;
    color: $font;
    background-color: $city-gradient-color;
    background-image: $city-gradient;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;
    @media screen and (min-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
