@import "../styles/colors";
section {
  background: $main-background-container;
  padding: 2rem 1rem;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: $font-color;
      text-align: center;
      padding: 1rem 0;
    }
}
